
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
.strong{
  font-weight: bolder;
}


/* .slick-slider .slick-prev::before{
  content: "<";
  color: #000;
} */
.slick-slider .slick-next::before{
  content: ">";
  color: #000;
}




.MuiListItem-root{
  display: inline-block;
}

.bluebar{
  background-color: #18172B;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.bluebar-inside{
  letter-spacing: 1.5px;
  font-weight: 500;
  font-size: large;
  color: #fff;
}
.main{
  padding: 30px 0px;
}

.ani{
  opacity: 0;
transform: translateY(50px) translateZ(0px);
}
.ani:hover{
  opacity: 1;
transform: none;
}
.mobile-dropdown-item{
  display: none;
} 
.appbar-mobile-icons{
  color: black;
}